<!-- # ======= delete_user_form ======= -->
<h2>Are you sure you want to delete your account?</h2>
<form class="user-form" method="post" action="/delete_user">
    <p>First Name: <%= @current_user[:fname] %> </p>
    <p>Last Name: <%= @current_user[:lname] %> </p>
    <p>Email: <%= @current_user[:email] %> </p>
    <p>Username: <%= @current_user[:username] %> </p>
    <input type="hidden" name="id" value="<%= @current_user[:id] %>">
    <input type="submit" value="DELETE">
</form>

</div>
