<!-- ======= views/user_profile.erb ======= -->

<p>Here is where you can set your home screen preferences!</p>

<div class="menu-item"><a href="/edit_user_form?id=<%= @current_user[:id] %>">Edit User</a></div>
<div class="menu-item"><a href="/delete_user_form?id=<%= @current_user[:id] %>">Delete User</a></div>


<p><%= @current_user[:fname] %></p>
<p><%= @current_user[:lname] %></p>
<p><%= @current_user[:username] %></p>
<p><%= @current_user[:password] %></p>
<p><%= @current_user[:email] %></p>
<p><%= @current_user[:created_at] %></p>
