<!-- ======= views/user_profile.erb ======= -->

<p>Here is where you can set your home screen preferences!</p>

<div class="menu-item"><a href="/edit_user_form?id=<%= @user[:id] %>">Edit User</a></div>
<div class="menu-item"><a href="/delete_user_form?id=<%= @user[:id] %>">Delete User</a></div>


<p><%= @user[:fname] %></p>
<p><%= @user[:lname] %></p>
<p><%= @user[:username] %></p>
<p><%= @user[:password] %></p>
<p><%= @user[:email] %></p>
<p><%= @user[:created_at] %></p>
