<!-- ======= views/profile.erb ======= -->
<div id="wrapper">
  <div id="wrapperOne">
    <img src="/img/avator.png" alt="Profile Image" width="100px">
    <h2><%= @user[:fname] %> <%= @user[:lname] %></h2>
    <p>Username: <%= @user[:username] %></p>
    <p>User Since: <%= @user[:created_at] %></p>
  </div>
  <div id="wrapperTwo">
    <h3>Recent Posts</h3>
    <% @posts.each do |post| %>
      <div class="postContent">
        <p><%= post[:post_content] %> BY: <%= @user[:username] %></p>
        <p>AT: <%= post[:created_at] %></p>
      </div>
      <% puts "post[:post_content]: #{post[:post_content].inspect}" %>
    <% end %>
  </div>
</div>
